@model ProductDTO
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css" />

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <form method="post">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Url.Content(Model.ImgPath)" alt="@Model.Name"></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">@Model.Name</h1>
                        <div class="fs-5 mb-5">
                            <span>@Model.Price</span>
                        </div>
                        <p class="lead">@Model.Desc</p>
                        <div class="text-light mb-3 ">
                           <input type="number" class="invisible" value="@Model.Id" name="id" />
                            <button class="btn btn-secondary btn-sm" type="submit"
                                    asp-controller="Products" asp-action="AddToCart">
                                <span class="glyphicon glyphicon-shopping-cart">
                                </span>
                                Add to Cart
                            </button>
                        </div>
                        <partial name="~/Views/Shared/Message.cshtml" />
                    </div>



                </form>
            </div>
        </div>
    </section>

